:root {
  --primary-color: #ad0812;

  --color-wht1: #fff;
  --color-wht2: #f3f1ee;
  --color-wht3: #b1b1b1;

  --color-blk1: #000;
  --color-blk2: #211f1d;

  --color-gray1: #606060;
  --color-gray2: #f8f7f6;
  --color-gray3: #929292;
}
html {
  height: 100%;
  font-size: 62.5%;
  text-size-adjust: none;
}
*,*:before,*:after{
  box-sizing:border-box;
}
body{
  font:normal 1.8rem/1.44 'Noto Sans KR',sans-serif;
  color:var(--color-blk1);
  word-break:keep-all;
  -webkit-font-smoothing: antialiased;}
body, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
fieldset, 
ul, 
ol, 
dl, 
dt, 
dd, 
p, 
button, 
figure{
  margin:0;
  padding:0;
  border: 0;
  box-sizing: border-box;
}
legend, caption{position:absolute;overflow:hidden;width:0px;height:0px;font-size:0;line-height:0;text-indent:-9999px;color:transparent;}
a{text-decoration:none;color:inherit;}
a[href^="tel"]{cursor:default;}
fieldset, button{background:none;border:0px;}
button {outline:none}
ul:after,ol:after{content:'';display:block;clear:both;}
li{list-style:none;}
table{width:100%;border-spacing:0px;border-collapse:collapse;line-height:1.2;}
/*th,td{word-wrap:break-word;word-break:break-all;}*/
iframe{width:100%;vertical-align:middle;border:0 none;}
input,button,select,img,iframe{vertical-align:middle;}
img {border:none;}
button, input, optgroup, select, textarea, optgroup, pre{font-family:inherit;letter-spacing:inherit;}
h1, h2, h3, h4, h5, h6{font-weight:normal;-webkit-font-smoothing:subpixel-antialiased;}
i,em,address{font-style:normal;}
sub{vertical-align:0;}

/* ==========================================================================
   common
   ========================================================================== */
.normal{font-weight:normal;}
.bold{font-weight:bolder;}
.underline{text-decoration:underline;}

.t_center{text-align:center !important;}
.t_left{text-align:left !important;}
.t_right{text-align:right !important;}

.f_left{float:left;}
.f_right{float:right;}
.clear{clear:both;}

.block{display:block;}
.inblock{display:inline-block;}
.hide{display:none;-webkit-animation:fadeIn 1s;animation:fadeIn 1s;}
.hidden{overflow:hidden;}
.blind{position:absolute;overflow:hidden;width:0px;height:0px;font-size:0;line-height:0;text-indent:-9999px;}
.ellipsis{display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;}
/* ==========================================================================
   component
   ========================================================================== */
/* skip_Navi */
#skipNavi{position:relative;}
#skipNavi a{display:block;position:absolute;left:0;top:-300px;width:300px;text-align:center;color:var(--color-wht1);background:#000;z-index:200;}
#skipNavi a:focus, #skipNavi a:hover{top:0px;}

/* btnTop */
/* #btnTop{position:absolute;left:50%;top:-75px;width:45px;height:45px;margin-left:-22.5px;background:url(../images/common/btn_top.png) no-repeat;background-size:contain;overflow:hidden;font-size:0;color:transparent;} */

/* form */
.select,
.textarea,
.input[type="text"],
.input[type="file"],
.input[type="tel"],
.input[type="num"],
.input[type="password"] {
  -webkit-appearance:none;
  background-clip:padding-box;
} 
.label{
  display:inline-block
}
.input, .textarea, .select{
  display:inline-block;
  height:6rem;
  line-height:1.8rem;
  padding:0.6rem 1.7rem;
  background:var(--color-wht1);
  border-radius:0.7rem;
  border:none;
  -webkit-transition-duration:.1s;
  transition-duration:.1s;
  vertical-align:middle;
  box-sizing:border-box;
  font-size:1.5rem;
  outline:none;
  color:inherit;
  border: solid 0.5px #aaa;
}
.input[type="password"]{
  font-family: 'pass', 'Roboto', Helvetica, Arial, sans-serif ;
}
.input[type="password"]::-webkit-input-placeholder {
  transform-origin: 0 50%;
  color: #AAAAAA;
}
.input[type="password"]::-moz-placeholder {
  font-size: 1.4rem;
  opacity: 1;
}

/* button */
.button{
  display:inline-block;
  position:relative;
  padding:0 2rem;
  text-align:center;
  vertical-align:middle;
  cursor:pointer;
  box-sizing: border-box;
  background: var(--primary-color);
  color: var( --color-wht1);
  font-size: 2.5rem;
  font-weight: 600;
  height:6rem;
  line-height: 5.8rem;
}
.button:hover,.button:focus,.button:active{text-decoration:none !important}
.button:active{transform:scale(0.95)}

.table {
  border-top: 3px solid var(--color-wht3);
  border-bottom: 2px var(--color-wht3) solid;
  th{
    background: #f7f7f7;
    text-align: left;
    font-weight: 600;
    font-size: 20px; 
    border-bottom: 2px solid  var(--color-wht3) ;
  }
  th,
  td {
    padding: 1.8rem 4rem;
    font-size: 2rem;
    text-align: center;
    position: relative;
    border-top: 0.2rem var(--color-wht3) solid;
    position: relative;
    white-space: pre-line;
    word-break: keep-all;
    vertical-align: top;
    &::before {
      content: '';
      display: block;
      width: 0.2rem;
      height: calc(100% - 3rem);
      background-color: var(--color-wht3);
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    &:nth-child(1) {
      &::before {
        content: none;
      }
    }
  }
  th {
    background-color: var(--color-wht2);
  }
  .left {
    th,
    td {
      text-align: left;
    }
  }
}