@charset "utf-8";
/* common */
.location {margin-bottom: 32px;}
.location ul {display: flex;justify-content:end;}
.location ul li {padding-right: 8px;}
.location ul li:after {content:">";color: #929292;padding-left: 8px;    display: inline-block;    vertical-align: -1px;}
.location ul li a {font-size: 16px;;color: #929292;}
.location ul li:last-child a {color: #111;}
.location ul li:last-child:after {display: none;}
/* main */
.swiper {width: 100%;height:100%;}
.main_banner {position: relative;height: 780px;}
.main_banner .swiper-slide {text-align: center;overflow: hidden;position: relative;}
.main_banner .img {display: inline-block; position:absolute;left:50%;-webkit-transform: translateX(-50%);transform: translateX(-50%);}
.main_banner .control>button {display: block;;position: absolute;top: 50%;z-index: 10;margin-top: -27px;}
.main_banner .control .btn_prev {left: 50%;margin-left: -750px;background: url('../img/common/ico_arrow_3.png');width: 31px;height: 54px;font-size: 0;color: transparent;cursor: pointer;}
.main_banner .control .btn_next {right: 50%;margin-right: -750px;background: url('../img/common/ico_arrow_4.png');width: 31px;height: 54px;font-size: 0;color: transparent;cursor: pointer;}
.main_banner .control>span {display: block;position: absolute;bottom: 20px;left: 0;width: 100%;text-align: center;z-index: 10;color: #fff;}
.main_order {width: 1370px; margin:-44px auto 0 ;padding: 29px 79px;border-radius:20px;box-shadow: 0 20px 30px 0 rgba(58, 58, 58, 0.16);position: relative;z-index: 1;background: #fff;;}
.main_order ul {display: flex;}
.main_order ul li {padding: 0 50px;position: relative;display: flex;align-items:center;}
.main_order ul li:first-child {padding-left: 0;}
.main_order ul li:last-child {padding-right: 0;}
.main_order ul li:before{content:"";display: block;width: 2px; height:60px; position: absolute;top:0;left:0;background: #b1b1b1;}
.main_order ul li:first-child:before{display: none;}
.main_order ul li span {font-weight: 600;font-size: 30px;padding-right: 30px;}
.main_order ul li .button {font-size: 25px;border-radius:22px;width: 190px;}
.main_order ul li .search_inp {position: relative;}
.main_order ul li .search_inp .input {border:2px solid #ac0711;border-radius:22px;padding-right: 70px;width: 309px;}
.main_order ul li .search_inp .input::-webkit-input-placeholder {color: #000;font-weight: 500;font-size: 18px;}
.main_order ul li .search_inp .input::placeholder{color: #000;font-weight: 500;font-size: 18px;}
.main_order ul li .search_inp button {display: block;width: 58px; height:58px; background: #ac0711 url(../img/common/ico_search.png) center center no-repeat;position: absolute;top:0;right:0;border-radius:0 22px 22px 0}
.main_best_menu {padding-top: 104px;}
.main_best_menu .inner {width: 1240px;}
.main_best_menu h3{text-align: center;margin-bottom: 77px;;}
.main_best_menu .swiper-container {height:625px;margin-bottom: 133px;}
.main_best_menu .swiper-slide div {padding: 52px 0 59px;box-shadow: 5px 10px 12px 0 rgba(58, 58, 58, 0.16);text-align: center;border-radius:20px;background: #fff;overflow: hidden;}
.main_best_menu .swiper-slide .img {display: inline-block;padding-bottom: 30px;width: 70%;}
.main_best_menu .swiper-slide img {max-width: 100%;}
.main_best_menu .swiper-slide .menu_tit {font-size: 25px;margin-bottom: 20px;}
.main_best_menu .menu_txt,.main_best_menu button {display: none;}
.main_best_menu .menu_txt {margin-bottom: 30px;}
.main_best_menu button {background: #ad0711;color: #fff;font-size: 30px; font-weight: bold;width: 100%;height:95px; line-height: 93px;cursor:pointer}
.main_best_menu .swiper-slide-active .menu_txt,
.main_best_menu .swiper-slide-active button {display: block;}
.main_best_menu .swiper-slide-active .img {width: 100%;}
.main_best_menu .swiper-slide {position: relative;}
.main_best_menu .swiper-slide div {width: 330px;position: absolute;left:50%;transform: translateX(-50%);margin-top: 71px;}
.main_best_menu .swiper-slide.swiper-slide-active div {width: 460px;border:3px solid #ad0711;margin-top: 0;padding-bottom: 0;}
.main_best_menu .control>button {display: block;width: 58px;height: 58px;;position: absolute;top: 60%;z-index: 10;margin-top: -29px;font-size: 0;color: transparent;cursor: pointer;border-radius: 50%;}
.main_best_menu .control .btn_prev {left: 50%;margin-left: -750px;background: #ad0711 url('../img/common/ico_arrow_1.png') center center no-repeat;}
.main_best_menu .control .btn_next {right: 50%;margin-right: -750px;background: #ad0711 url('../img/common/ico_arrow_2.png') center center no-repeat;}
.main_video {height:1065px}
.main_video iframe {height:100%}
.main_franchise_guide {background: url('../img/common/bg_main_btm.jpg') 0 0 no-repeat;width: 100%;height:460px;color: #fff;    line-height: 1.2;}
.main_franchise_guide .inner{padding-top: 100px;padding-right: 40px;}
.main_franchise_guide .inner div {float:right}
.main_franchise_guide h3 {font-size: 40px;margin-bottom: 50px;letter-spacing: -2px;font-weight: bold;}
.main_franchise_guide h3 span {display: block;font-size: 80px;}
.main_franchise_guide ul {display: flex;;}
.main_franchise_guide ul li + li {margin-left: 30px;}
.main_franchise_guide ul li a {display: flex;justify-content: center;align-items: center;width:236px; border:2px solid #fff;border-radius: 20px;height:52px;line-height: 50px;font-size: 25px;font-weight: bold;}
/* 메뉴 */
.top_banner img {max-width: 100%;}
.menu_bar {width: 100%;background: #fff;border-radius: 20px;padding: 30px 170px;box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.04);position: relative;top:-36px;margin-bottom: 47px;}
.menu_bar ul {display: flex;align-items: center;}
.menu_bar ul li a {font-size: 20px;padding: 0 30px;font-weight: bold;transition:ease-in 0.2s;position: relative;}
.menu_bar ul li a.active,
.menu_bar ul li a:hover,
.menu_bar ul li a:focus {color: #ad0812;}
.menu_bar ul li a:after {content:"";display: block;width: 4px; height:4px; background: #000;border-radius:50%; position: absolute;top:50%;right:-2px;transform:translateY(-50%);}
.menu_bar ul li:first-child a {padding-left: 0;}
.menu_bar ul li:last-child a {padding-right: 0;}
.menu_bar ul li:last-child a:after {display: none;}
/* 신메뉴 */
.new_menu_wrap {margin-bottom: 130px;}
.new_banner {margin-bottom: 73px;}
.new_cont {text-align: center;}
.ico_new {display: block;width: 95px; height:54px; background: url(../img/common/ico_new.png)0 0 no-repeat;}
.new_cont .ico_new {margin:0 auto 28px;}
.new_cont .tit {font-weight: bold;font-size: 42px;margin-bottom: 10px;}
.new_cont .sub_tit {font-size: 25px;margin-bottom: 40px;}
.new_cont .exp {font-size: 22px;color: #606060}
.new_menu_wrap .btn_area {margin-top: 100px;display: flex;justify-content: center}
.new_menu_wrap .btn_area button {display: block;width: 383px;height:103px;border:3px solid #ad0711;line-height: 101px; font-weight: bold;font-size: 31px;}
.new_menu_wrap .btn_area button i {display: inline-block; width:38px; height:38px;background: url(../img/common/ico_viewmore.png) 0 0 no-repeat;margin-right: 15px;vertical-align: -8px;}
.new_menu_wrap .btn_area button.btn_cart i {width: 47px ;height:39px;background-image: url(../img/common/ico_cart.png);}
.new_menu_wrap .btn_area button + button {margin-left: 28px;}



