@charset "utf-8";
/* common */
.location {width: 1280px;margin: 30px auto 32px}
.location ul {display: flex;justify-content:end;}
.location ul li {padding-right: 8px;}
.location ul li:after {content:">";color: #929292;padding-left: 8px;    display: inline-block;    vertical-align: -1px;}
.location ul li a {font-size: 16px;;color: #929292;font-weight: 500;}
.location ul li:last-child a {color: #111;}
.location ul li:last-child:after {display: none;}
.menu_bar + .location {margin-top: 40px;}
.sml_inner {width: 1280px;}
/* main */
.swiper {width: 100%;height:100%;}
.main_banner {position: relative;height: 780px;}
.main_banner .swiper-slide {text-align: center;overflow: hidden;position: relative;}
.main_banner .img {display: inline-block; position:absolute;left:50%;-webkit-transform: translateX(-50%);transform: translateX(-50%);}
.main_banner .control>button {display: block;;position: absolute;top: 50%;z-index: 10;margin-top: -27px;}
.main_banner .control .btn_prev {left: 50%;margin-left: -750px;background: url('../img/common/ico_arrow_3.png');width: 31px;height: 54px;font-size: 0;color: transparent;cursor: pointer;}
.main_banner .control .btn_next {right: 50%;margin-right: -750px;background: url('../img/common/ico_arrow_4.png');width: 31px;height: 54px;font-size: 0;color: transparent;cursor: pointer;}
.main_banner .control>span {display: block;position: absolute;bottom: 20px;left: 0;width: 100%;text-align: center;z-index: 10;color: #fff;}
.main_order {width: 1370px; margin:-44px auto 0 ;padding: 29px 79px;border-radius:20px;box-shadow: 0 20px 30px 0 rgba(58, 58, 58, 0.16);position: relative;z-index: 1;background: #fff;;}
.main_order ul {display: flex;}
.main_order ul li {padding: 0 50px;position: relative;display: flex;align-items:center;}
.main_order ul li:first-child {padding-left: 0;}
.main_order ul li:last-child {padding-right: 0;}
.main_order ul li:before{content:"";display: block;width: 2px; height:60px; position: absolute;top:0;left:0;background: #b1b1b1;}
.main_order ul li:first-child:before{display: none;}
.main_order ul li span {font-weight: 600;font-size: 30px;padding-right: 30px;}
.main_order ul li .button {font-size: 25px;border-radius:22px;width: 190px;}
.main_order ul li .search_inp {position: relative;}
.main_order ul li .search_inp .input {border:2px solid #ac0711;border-radius:22px;padding-right: 70px;width: 309px;}
.main_order ul li .search_inp .input::-webkit-input-placeholder {color: #000;font-weight: 500;font-size: 18px;}
.main_order ul li .search_inp .input::placeholder{color: #000;font-weight: 500;font-size: 18px;}
.main_order ul li .search_inp button {display: block;width: 58px; height:58px; background: #ac0711 url(../img/common/ico_search.png) center center no-repeat;position: absolute;top:0;right:0;border-radius:0 22px 22px 0}
.main_best_menu {padding-top: 104px;}
.main_best_menu .inner {width: 1240px;}
.main_best_menu h3{text-align: center;margin-bottom: 77px;;}
.main_best_menu .swiper-container {height:625px;margin-bottom: 133px;}
.main_best_menu .swiper-slide div {padding: 52px 0 59px;box-shadow: 5px 10px 12px 0 rgba(58, 58, 58, 0.16);text-align: center;border-radius:20px;background: #fff;overflow: hidden;}
.main_best_menu .swiper-slide .img {display: inline-block;padding-bottom: 30px;width: 70%;}
.main_best_menu .swiper-slide img {max-width: 100%;}
.main_best_menu .swiper-slide .menu_tit {font-size: 25px;font-weight: 600;}
.main_best_menu .menu_txt,.main_best_menu button {display: none;}
.main_best_menu .menu_txt {font-weight: 500;}
.main_best_menu button {background: #ad0711;color: #fff;font-size: 30px; font-weight: 600;width: 100%;height:95px; line-height: 93px;cursor:pointer;margin-top: 30px;}
.main_best_menu .swiper-slide-active .menu_txt,
.main_best_menu .swiper-slide-active button {display: block;}
.main_best_menu .swiper-slide-active .menu_tit {margin-bottom: 20px;}
.main_best_menu .swiper-slide-active .img {width: 100%;}
.main_best_menu .swiper-slide {position: relative;}
.main_best_menu .swiper-slide div {width: 330px;position: absolute;left:50%;transform: translateX(-50%);margin-top: 71px;}
.main_best_menu .swiper-slide.swiper-slide-active div {width: 460px;border:3px solid #ad0711;margin-top: 0;padding-bottom: 0;}
.main_best_menu .control>button {display: block;width: 58px;height: 58px;;position: absolute;top: 60%;z-index: 10;margin-top: -29px;font-size: 0;color: transparent;cursor: pointer;border-radius: 50%;}
.main_best_menu .control .btn_prev {left: 50%;margin-left: -750px;background: #ad0711 url('../img/common/ico_arrow_1.png') center center no-repeat;}
.main_best_menu .control .btn_next {right: 50%;margin-right: -750px;background: #ad0711 url('../img/common/ico_arrow_2.png') center center no-repeat;}
.main_video {height:1065px}
.main_video iframe {height:100%}
.main_franchise_guide {background: url('../img/common/bg_main_btm.jpg') 0 0 no-repeat;width: 100%;height:460px;color: #fff;    line-height: 1.2;}
.main_franchise_guide .inner{padding-top: 100px;padding-right: 40px;}
.main_franchise_guide .inner div {float:right}
.main_franchise_guide h3 {font-size: 40px;margin-bottom: 50px;letter-spacing: -2px;font-weight: 600;}
.main_franchise_guide h3 span {display: block;font-size: 80px;}
.main_franchise_guide ul {display: flex;;}
.main_franchise_guide ul li + li {margin-left: 30px;}
.main_franchise_guide ul li a {display: flex;justify-content: center;align-items: center;width:236px; border:2px solid #fff;border-radius: 20px;height:52px;line-height: 50px;font-size: 25px;font-weight: 600;}

/* 메뉴 */
.top_banner img {max-width: 100%;}
.menu_bar {width: 100%;background: #fff;border-radius: 20px;padding: 30px 170px;box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.04);margin-top:-36px;}
.menu_bar ul {display: flex;align-items: center;}
.menu_bar ul li a {font-size: 20px;padding: 0 38px;font-weight: 600;transition:ease-in 0.2s;position: relative;}
.menu_bar ul li a.active,
.menu_bar ul li a:hover,
.menu_bar ul li a:focus {color: #ad0812}
.menu_bar ul li a:after {content:"";display: block;width: 4px; height:4px; background: #000;border-radius:50%; position: absolute;top:50%;right:-2px;transform:translateY(-50%);}
.menu_bar ul li:first-child a {padding-left: 8px;}
.menu_bar ul li:last-child a {padding-right: 0;}
.menu_bar ul li:last-child a:after {display: none;}
.menu_wrap {height:1970px;position: relative;padding-top: 23px;}
.menu_wrap .swiper-wrapper > div {width: 100%;}
/* .menu_img_wrap {display: none;} */
.menu_img_wrap .inner {width: 940px;}
.menu_img_wrap h3{font-weight: 600;font-size: 42px;margin-bottom: 20px;}
.menu_img_wrap p {font-weight: 500;;font-size: 22px;color: #606060;margin-bottom: 60px;}
.menu_img_wrap .menu_img {text-align: center;margin-bottom: 59px;}
.menu_info {padding-top: 47px;background: #f7f7f7;padding-bottom: 122px;}
.menu_info .inner {width: 940px;}
.menu_info .info_list>li + li {margin-top: 45px;}
.menu_info .info_list h4 {font-weight: 600;font-size: 27px;color: #ad0812;margin-bottom: 10px;}
.menu_info .info_list p {font-size: 25px;margin-bottom: 10px;}
.menu_info .info_list .btn_all_view {display: block;font-size: 22px; font-weight: 500;cursor: pointer;width: 110px;height:40px; color: #929292;border:2px solid #929292;border-radius:10px;text-align: center;}
.menu_info .tbl_nutrition {display: flex;height:147px; align-items: center;border-top:3px solid #ad0812;border-bottom:2px solid #c6585e;}
.menu_info .tbl_nutrition li {width: 20%;text-align: center;padding: 0 10px;}
.menu_info .tbl_nutrition li strong {font-weight: 500;font-size: 28px;display: block;margin-bottom: 10px;}
.menu_info .tbl_nutrition li span {font-weight: 300;font-size: 25px;}
.menu_info .inner > p {font-size: 24px;font-weight: 500;color: #929292;padding-top: 20px;}
.menu_info .txt_list {padding-top: 40px;margin-bottom: 70px;}
.menu_info .txt_list li {font-size:22px; font-weight: 500;color: #929292;}
.menu_info .txt_list li+li{padding-top: 10px;}
.menu_info .btn_order {display: block;width: 533px;height:103px; line-height: 101px; background: #ad0812;text-align: center;color: #fff;font-weight: bold;font-size: 30px; margin: 0 auto;}
.menu_wrap .control>button {display: block;width: 58px;height: 58px;;position: absolute;top: 437px;z-index: 10;font-size: 0;color: transparent;cursor: pointer;border-radius: 50%;}
.menu_wrap .control .btn_prev {left: 50%;margin-left: -641px;background: #ad0711 url('../img/common/ico_arrow_1.png') center center no-repeat;}
.menu_wrap .control .btn_next {right: 50%;margin-right: -641px;background: #ad0711 url('../img/common/ico_arrow_2.png') center center no-repeat;}
/* 신메뉴 */
.new_menu_wrap {margin-bottom: 130px;}
.new_banner {margin-bottom: 73px;} 
.new_cont {text-align: center;}
.ico_new {display: block;width: 95px; height:54px; background: url(../img/common/ico_new.png)0 0 no-repeat;}
.new_cont .ico_new {margin:0 auto 28px;}
.new_cont h3 {font-weight: 600;font-size: 42px;margin-bottom: 10px;}
.new_cont p {font-size: 25px;margin-bottom: 40px;}
.new_cont .exp {font-size: 22px;color: #606060}
.new_menu_wrap .btn_area {margin-top: 100px;display: flex;justify-content: center}
.new_menu_wrap .btn_area button {display: block;width: 383px;height:103px;border:3px solid #ad0711;line-height: 101px; font-weight: 600;font-size: 31px;}
.new_menu_wrap .btn_area button i {display: inline-block; width:38px; height:38px;background: url(../img/common/ico_viewmore.png) 0 0 no-repeat;margin-right: 15px;vertical-align: -8px;}
.new_menu_wrap .btn_area button.btn_cart i {width: 47px ;height:39px;background-image: url(../img/common/ico_cart.png);}
.new_menu_wrap .btn_area button + button {margin-left: 28px;}
/* 원산지 및 알레르기 */
.origin_nutrition_wrap {padding-top: 18px;padding-bottom: 196px;}
.origin_nutrition_wrap h3 {font-size: 35px; font-weight: 600;margin-bottom: 20px;}
.origin_nutrition_wrap .date {display: flex;justify-content:end;font-size: 500;font-size: 15px;padding-bottom: 13px;border-bottom: 3px solid #b1b1b1;}
.origin_nutrition_wrap h4 {padding: 40px 0 10px 40px;font-weight: 600;font-size: 25px; color: #ad0711}
.table {border-top: 3px solid #b1b1b1;}
.table th{background: #f7f7f7;padding: 13px 0;text-align: left;font-weight: 600;font-size: 20px; border-bottom: 2px solid #b1b1b1;}
.table span {display: block;border-left: 2px solid #b1b1b1;padding: 5px 40px;}
.table tr th:first-child span {border-left: none;}
.table td {padding: 13px 0;border-bottom: 2px solid #b1b1b1;font-weight: 500;}
.table tr:last-child td {border-bottom-width: 3px;}
.table tr td:first-child span {font-size: 20px; font-weight: 600;border-left: none;}
/* 가맹점 */
.franchise_wrap .count_area {background: url(../img/contents/bg_franchise_1.jpg)0 0 no-repeat;padding-top: 70px;padding-bottom: 62px;}
.franchise_wrap .count_area h3 {margin-bottom: 78px;text-align: center;}
.franchise_wrap .count_area ul {display: flex;justify-content: center;flex-wrap: wrap;}
.franchise_wrap .count_area ul li {width: 410px;margin-bottom: 92px ;text-align: center;padding: 2px 0;}
.franchise_wrap .count_area ul li:nth-child(2),
.franchise_wrap .count_area ul li:nth-child(5) {width:463px ;border-left:1px solid #fff;border-right:1px solid #fff}
.franchise_wrap .count_area ul li div {color: #ffb800;font-weight: 600;font-size: 25px;line-height: 1.4;}
.franchise_wrap .count_area ul li div strong {font-size: 60px;font-weight: 800;}
.franchise_wrap .count_area ul li p {color: #fff;font-size: 22px;}
.franchise_swiper_wrap {padding-top: 110px;margin-bottom: 150px;}
.franchise_swiper_wrap .swiper-container {height:675px;padding-bottom: 20px;}
.franchise_wrap .franchise_swiper_wrap h4{ text-align: center;padding-bottom: 86px;padding-top: 0;margin-bottom: 0;;}
.franchise_wrap .franchise_swiper_wrap h4:before{display: none;}
.franchise_swiper .swiper-slide {padding-left: 10px;}
.franchise_swiper .swiper-slide > div {padding: 31px 20px 47px;border-radius:18px;box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.16);width:370px;height:100%}
.franchise_swiper i {display: flex;height:191px; align-items: center;justify-content: center;padding-bottom: 54px;border-bottom: 2px solid #ad0711;}
.franchise_swiper .txt_area {padding: 20px 10px 0;}
.franchise_swiper h5 {font-size: 22px;margin-bottom: 20px;font-weight: 600;}
.franchise_swiper h5 strong {display: block;font-size: 38px; font-weight: 800;color: #ad0711;}
.franchise_swiper span {color: #ad0711;font-size: 22px;font-weight: 500}
.franchise_swiper .txt_area div {font-size: 20px;font-weight: 500;}
.franchise_swiper p {color: #929292;font-size: 18px;margin-top: 22px}
.franchise_swiper_wrap .control>button {display: block;width: 58px;height: 58px;;position: absolute;top:395px;z-index: 10;font-size: 0;color: transparent;cursor: pointer;border-radius: 50%;}
.franchise_swiper_wrap .control .btn_prev {left: -75px;background: #ad0711 url('../img/common/ico_arrow_1.png') center center no-repeat;}
.franchise_swiper_wrap .control .btn_next {right: -75px;background: #ad0711 url('../img/common/ico_arrow_2.png') center center no-repeat;}
.franchise_wrap h4 {font-weight: 600;font-size: 25px;position: relative;margin-bottom: 60px;padding-top: 10px;}
.franchise_wrap h4:before{content:"";display: block;width: 20px;height:3px;background: #ad0711;position: absolute;top:0; left:0;margin-bottom: 59px;}
.franchise_step {margin-bottom: 100px;}
.franchise_step ol {display: flex;flex-wrap:wrap;margin: -40px -35px;}
.franchise_step ol li {padding: 40px 35px;width: 33.33%;}
.franchise_step ol li div {padding-top: 20px;border-top: 2px solid #ad0711;}
.franchise_step ol li strong {display: block;;font-weight: 600;font-size: 25px;margin-bottom: 15px;color: #ad0711;}
.franchise_step ol li p {font-size: 18px; font-weight: 500}
.franchise_benefits {margin-bottom: 100px;}
.franchise_benefits h4 {width: 1280px;margin: 0 auto 60px;}
.franchise_benefits > div {background: url('../img/contents/bg_franchise_2.jpg')0 0 no-repeat;}
.franchise_benefits .inner {display: flex;align-items:center;padding: 97px 0;}
.franchise_benefits .inner div {width: 50%;color: #fff;}
.franchise_benefits .fst_box {font-size: 50px;text-align: center;}
.franchise_benefits .fst_box strong {font-size: 155px;font-style: italic;}
.franchise_benefits .scd_box ul li {border-left: 3px solid #fff;padding: 9px 0 ;padding-left: 30px;}
.franchise_benefits .scd_box ul li + li {margin-top: 89px;}
.franchise_benefits .scd_box ul li p {font-size: 20px; font-weight: 600;margin-bottom: 8px;}
.franchise_benefits .scd_box ul li span {font-weight: 500;font-size: 16px;display: block;opacity: 0.7;}
.franchise_benefits ul li i {display: inline-block;vertical-align: middle;}
.franchise_cost {margin-bottom: 80px;}
.franchise_cost .table {border-top-color: #ac0711;margin-bottom: 15px;}
.franchise_cost .table th {color: #ac0711;background: none;padding: 11px 0;font-size: 22px;}
.franchise_cost .table td {font-size: 20px;line-height: 1.4;}
.franchise_cost .table span {padding: 0 40px;}
.franchise_cost .table tfoot td{border-bottom-color: #ac0711;color: #ac0711;font-weight: 600;}
.franchise_cost .table tfoot td span {border-left-color:#ac0711}
.franchise_cost .table tfoot + tbody tr:last-child td {border-bottom-color: #ac0711;}
.franchise_cost .table tfoot td:first-child {text-align: center;}
.franchise_cost p {font-weight: 16px;font-weight: 500; color: #929292;padding-left: 30px;}
.franchise_cost p i {display: inline-block;vertical-align: middle;}