#container {
  .cscenter_banner {
    width:100%;
    height:37.5rem;
    background-image:url('../img/contents/cscenter/bg_cscenter_banner.png');
    background-repeat:no-repeat;
    background-size:cover;
    color:#fff;
    font-style:italic;
    display:flex; justify-content:center; align-items:center;
    div {
      width:128rem;
      text-align:end;
    }
  }

// contact
  .contact_wrap {
    margin-bottom:13rem;
    h3 {
      border-bottom:none;
      margin-bottom:0;
      padding-bottom:2.3rem;
    }
    .map {
      width:100%;
      height:52rem;
      background-color:#efefef;
    }
    h4 {
      margin-top:3.7rem;
      padding-bottom:1.4rem;
      margin-bottom:1.6rem;
      font-size:2.5rem; font-weight:bold;
      border-bottom:0.2rem solid var(--color-wht3);
    }
    p {
      font-size:2rem;
      padding-bottom:1.6rem;
      border-bottom:0.2rem solid var(--color-wht3);
    }
    table {
      tbody {
        tr {
          height:5.5rem;
          border-bottom:0.1rem solid var(--color-wht3);
          &:last-child {
            border-bottom:0.2rem solid var(--color-wht3);
          }
          th {
            width:25.7%;
            span {
              display:block;
              font-size:2rem;
              padding-left:2.9rem;
              text-align:start;
              color:var(--primary-color);
            }
          }
          td {
            position:relative;
            span {
              font-size:2rem;
              &::before {
                content:"";
                display:inline-block;
                width:0.2rem; height:2.3rem;
                background-color:var(--color-wht3);
                position:absolute; top:50%; left:-2.9rem;
                transform:translateY(-50%);
              }
            }
          }
        }
      }
    }
  }

// policy_personal, policy_operation
  .policy_wrap {
    margin-bottom:13rem;
    h3 {
      border-bottom:none;
      margin-bottom:0;
      padding-bottom:2.3rem;
    }
    .txt {
      width:100%;
      height:60rem;
      white-space:pre-line;
      overflow:auto;
      border:0.2rem solid var(--color-wht3);
      padding:0 2.1rem 2.1rem 2.1rem;
      font-size:1.6rem;
      &::-webkit-scrollbar {
        width: 0.8rem;
        background-color: var(--color-wht3);
      }
      &::-webkit-scrollbar-thumb {
        background-color: var(--primary-color);
      }
    }
  }

// policy_email
  .email_wrap {
    margin-bottom:33.2rem;
    h3 {
      margin-bottom:2.8rem;
    }
    p {
      font-size:2rem;
    }
  }

// cscenter
  .cscenter_wrap {
    margin-bottom:25.7rem;
    h3 {margin-bottom:0; padding-bottom:2rem;}
    .ch_box {
      display:flex; align-items:center;
      label {display:flex; align-items:center; margin-right:2.7rem;}
      input {
        width: 1.6rem;
        height: 1.6rem;
        border: 0.1rem solid #000;
        padding: 0;
        -webkit-appearance: none;
        position: relative;
        margin-right:1rem;
        &::after {
          content: '';
          background-color: #000;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 0;
          height: 0;
          transition: all 0.3s;
        }
        &:checked {
          &::after {
            width: 70%;
            height: 70%;
          }
        }
      }
    }
    table {
      border-top:0.3rem solid var(--primary-color);
      margin-bottom:5.3rem;
      tbody {
        tr {
          border-bottom:0.2rem solid var(--color-wht3);
          th {
            width:10%;
            text-align:start;
            font-size:2rem;
            font-weight:bold;
            padding-left:1.5rem;
            >span {
              >span {
                display:inline-block;
                font-size:2.2rem;
                color:var(--primary-color);
                transform:translateY(-0.2rem);
              }
            }
          }
          td {
            position:relative;
            padding:2.2rem 0 2.2rem 2.8rem;
            &::before {
              position:absolute; top:50%; left:0;
              transform:translateY(-50%);
              content:""; display:inline-block;
              width:0.2rem; height:2.4rem;
              background-color:var(--color-wht3);
            }
            &.context {
              &::before {
                height:22.3rem;
              }
            }
            &.addfile {
              &::before {
                height:8.7rem;
              }
              input {
                margin-bottom:0.8rem;
              }
              ul {
                li {
                  font-size:1.4rem;
                  i {
                    transform:scale(0.4) translateY(-0.5rem);
                    color:var(--primary-color);
                  }
                }
              }
            }
            >input {
              width:30rem; height:4rem;
              border:0.1rem solid var(--color-wht3);
              padding-left:1.5rem;
            }
            select {
              width:18.2rem; height:4rem;
              border:0.1rem solid var(--color-wht3);
              color:var(--color-wht3);
              text-align:center;
              margin-right:0.7rem;
            }
            img {width:3.2rem; margin-left:1.2rem;}
            textarea {
              border:0.1rem solid var(--color-wht3);
              resize:none;
              width:109.7rem;
              height:22.1rem;
              padding:1rem 1.7rem;
            }
          }
        }
      }
    }
    >div {
      h4 {
        font-size:2.5rem;
        margin-bottom:1.6rem;
        font-weight:bold;
      }
      .txt_box {
        width:128rem; height:30rem;
        white-space:pre-line;
        overflow:auto;
        border:0.2rem solid var(--color-wht3);
        margin-bottom:1.9rem;
        &::-webkit-scrollbar {
          width: 0.8rem;
          background-color: var(--color-wht3);
        }
        &::-webkit-scrollbar-thumb {
          background-color: var(--primary-color);
        }
      }
      .ch_box {
        margin-left:2.2rem;
        margin-bottom:2.4rem;
        input {}
        label {}
      }
      ul {
        margin:0 0 7.8rem 2.2rem;
      }
    }
    button {
      display:block;
      margin:0 auto;
      width:40rem; height:10rem;
      background-color:var(--primary-color);
      color:#fff;
      font-weight:bold;
      font-size:2.5rem;
      &:active {
        transform: scale(0.95);
      }
    }
  }
}