.franchise_wrap  {
  .count_area{
    background: url(../img/contents/bg_franchise_1.jpg)0 0 no-repeat;
    padding-top: 7rem;
    padding-bottom: 6.2rem;
    h3 {
      margin-bottom: 7.8rem;
      text-align: center;
    }
    ul{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      li{
        width: 41rem;
        margin-bottom: 9.2rem ;
        text-align: center;
        padding: 0.2rem 0;
        &:nth-child(2),
        &:nth-child(5) {
          width:46.3rem ;
          border-left:1px solid var(--color-wht1);
          border-right:1px solid var(--color-wht1)
        }
        div{
          color: #ffb800;
          font-weight: 600;
          font-size: 2.5rem;
          line-height: 1.4;
          strong {
            font-size: 6rem;
            font-weight: 800;
          }
        }
        p{
          color: var(--color-wht1);
          font-size: 2.2rem;
        }
      }
    }
  }
}
.franchise_wrap {
  .franchise_swiper_wrap {
    h4{
      text-align: center;
      padding-bottom: 8.6rem;
      padding-top: 0;
      margin-bottom: 0;
      &:before{
        display: none;
      }
    }
  }
}
.franchise_swiper_wrap {
  padding-top: 11rem;
  margin-bottom: 15rem;
  .swiper-container {
    height:67.5rem;
    padding-bottom: 2rem;
  }
  .control{
    &>button{
      display: block;
      width: 5.8rem;
      height: 5.8rem;
      position: absolute;
      top:39.5rem;
      z-index: 10;
      font-size: 0;
      color: transparent;
      cursor: pointer;
      border-radius: 50%;
    }
    .btn_prev {
      left: -7.5rem;
      background: var(--primary-color) url('../img/common/ico_arrow_1.png') center center no-repeat;
    }
    .btn_next {
      right: -7.5rem;
      background: var(--primary-color) url('../img/common/ico_arrow_2.png') center center no-repeat;
    }
  }
}
.franchise_swiper {
  .swiper-slide {
    padding-left: 1rem;
    &>div {
      padding: 3.1rem 2rem 4.7rem;
      border-radius:1.8rem;
      box-shadow: 0 1rem 1.5rem 0 rgba(0, 0, 0, 0.16);
      width:37rem;
      height:100%
    }
  }
  i{
    display: flex;
    height:19.1rem; 
    align-items: center;
    justify-content: center;
    padding-bottom: 5.4rem;
    border-bottom: 2px solid var(--primary-color);
  }
  .txt_area {
    padding: 2rem 1rem 0;
    div {
      font-size: 2rem;font-weight: 500
      ;}
  }
  h5 {
    font-size: 2.2rem;
    margin-bottom: 2rem;
    font-weight: 600;
    strong {
      display: block;
      font-size: 3.8rem; 
      font-weight: 800;
      color: var(--primary-color);
    }
  }
  span {
    color: var(--primary-color);
    font-size: 2.2rem;
    font-weight: 500
  }
  p {
    color: #929292;
    font-size: 1.8rem;
    margin-top: 2.2rem;
  }
}
.franchise_wrap h4 {
  font-weight: 600;
  font-size: 2.5rem;
  position: relative;
  margin-bottom: 6rem;
  padding-top: 1rem;
  &:before{
    content:"";
    display: block;
    width: 2rem;
    height:0.3rem;
    background: var(--primary-color);
    position: absolute;
    top:0; 
    left:0;
    margin-bottom: 5.9rem;
  }
}
.franchise_step {
  margin-bottom: 10rem;
  ol {
    display: flex;
    flex-wrap:wrap;
    margin: -4rem -3.5rem;
    li {
      padding: 4rem 3.5rem;
      width: 33.33%;
      div {
        padding-top: 2rem;
        border-top: 2px solid var(--primary-color);
      }
      strong {
        display: block;
        font-weight: 600;
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
        color: var(--primary-color);
      }
      p {
        font-size: 1.8rem;
        font-weight: 500
      }
    }
  }
}
.franchise_benefits {
  margin-bottom: 10rem;
  h4 {
    width: 128rem;
    margin: 0 auto 6rem;
  }
  &>div {
    background: url('../img/contents/bg_franchise_2.jpg')0 0 no-repeat;
  }
  .inner {
    display: flex;
    align-items:center;
    padding: 9.7rem 0;
    div {
      width: 50%;
      color: var(--color-wht1);
    }
  }
  .fst_box {
    font-size: 5rem;text-align: center;
    strong {
      font-size: 15.5rem;
      font-style: italic;
    }
  }
  .scd_box{
    ul{
      li{
        border-left: 3px solid var(--color-wht1);
        padding: 0.9rem 0 ;
        padding-left: 3rem;
        &+li{
          margin-top: 8.9rem;
        }
        p {
          font-size: 2rem;
          font-weight: 600;
          margin-bottom: 0.8rem;
        }
        span {
          font-weight: 500;
          font-size: 1.6rem;
          display: block;
          opacity: 0.7;
        }
        i {
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }
}
.franchise_cost {
  margin-bottom: 80px;
  p {
    font-weight: 16px;
    font-weight: 500; 
    color: #929292;
    padding-left: 30px;
    i{
      display: inline-block;
      vertical-align: middle;
    }
  }
  .table {
    border-top-color:var(--primary-color);
    border-bottom-color:var(--primary-color);
    margin-bottom: 1.5rem;
    th {
      color: var(--primary-color);
      background: none;
    }
    th,
    td {
      padding: 1.3rem 3rem;
    }
    tfoot{
      td {
        border-top-color:var(--primary-color);
        color: var(--primary-color);
        font-weight: 600;
      }
    }
  }
}
.table {
  border-top: 3px solid var(--color-wht3);
  border-bottom: 2px var(--color-wht3) solid;
  th{
    background: #f7f7f7;
    text-align: left;
    font-weight: 600;
    font-size: 20px; 
    border-bottom: 2px solid  var(--color-wht3) ;
  }
  th,
  td {
    padding: 1.8rem 4rem;
    font-size: 2rem;
    text-align: center;
    position: relative;
    border-top: 0.2rem var(--color-wht3) solid;
    position: relative;
    white-space: pre-line;
    word-break: keep-all;
    vertical-align: top;
    &::before {
      content: '';
      display: block;
      width: 0.2rem;
      height: calc(100% - 3rem);
      background-color: var(--color-wht3);
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    &:nth-child(1) {
      &::before {
        content: none;
      }
    }
  }
  th {
    background-color: var(--color-wht2);
  }
  .left {
    th,
    td {
      text-align: left;
    }
  }
}